@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.button-area {
  z-index: 9;
  position: relative;
  bottom: 0;
  float: right;
}

.button-area[floating = "true"] {
  position: fixed;
  border: 2px solid black;
  background-color: aliceblue;
  bottom: 5px;
  right: 5px;
  border-radius: 10%;
}

.button-area > div {
  margin: 10px;
  max-width: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 3px outset darkslategrey;
  border-radius: 20%;
  background-color: ghostwhite;
  font-weight: 900;
}

.button-area > div.depressed {
  border-style: inset;
}

.button-area > div.disabled {
  border-style: inset;
  background-color: slategrey;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-area > div > * {
  display: block;
}

.button-area[pos = "n"] {
  top: 5px;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
}

.button-area[pos = "ne"] {
  top: 5px;
  right: 5px;
  bottom: auto;
}

.button-area[pos = "e"] {
  top: 50%;
  right: 5px;
  bottom: auto;
  transform: translateY(-50%);
}

.button-area[pos = "s"] {
  right: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.button-area[pos = "sw"] {
  right: auto;
  bottom: 5px;
  left: 5px;
}

.button-area[pos = "w"] {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 5px;
  transform: translateY(-50%);
}

.button-area[pos = "nw"] {
  top: 5px;
  right: auto;
  bottom: auto;
  left: 5px;
}

.button-area[direction = "horizontal"] {
  text-align: justify;
}

.button-area[direction = "horizontal"] > div {
  display: inline-table;
}

.button-area > div > i {
  font-size: 55px;
}

.button-area > div > span {
  line-height: 1.5em;
}

.button-area > div:hover > span {
  text-decoration: underline;
}

.button-area > div.confirm > span {
  display: none;
}

.button-area > div.confirm::after{
  content: "Confirm";
  color: indianred;
}

@keyframes success {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    color: green;
  }
  100% {
    opacity: 0;
  }
}

.button-area > div.success > i{
  animation: success 0.4s steps(1);
  animation-iteration-count: 3;
}