@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.chooser {
  position: relative;
  color: darkslategrey;
  width: 100%;
  display: table;
  margin: 25px 0;
  padding: 10px 0;
}

.chooser[type = "radio"] {
  background-color: antiquewhite;
}

.chooser[type = "checkbox"] {
  background-color: lightblue;
}

.chooser > .label-area::before {
  position: absolute;
  text-align: center;
  font-weight: 900;
  display: inline-block;
  letter-spacing: 1px;
  top: 0;
  width: 35%;
  opacity: 0.5;
}

.chooser[type = "radio"] > .label-area::before {
  content: "Choose One";
}

.chooser[type = "checkbox"] > .label-area::before {
  content: "Choose One or More";
}

.chooser > div {
  display: table-cell;
}

.chooser > .label-area {
  width: 35%;
}

.chooser > .label-area > span {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1.5em;
}

.chooser > .value-area {
  width: 60%;
  font-size: 1.5em;
  line-height: 1.5em;
}

.chooser > .value-area > div {
  display: inline-block;
  padding: 0 1.5em;
  background-color: white;
  margin: 5px;
  border-radius: 10em;
  border: 2px solid darkslategrey;
  cursor: pointer;
}

.chooser[type = "radio"] > .value-area > div.selected {
  background-color: lightblue;
}

.chooser[type = "checkbox"] > .value-area > div.selected {
  background-color: antiquewhite;
}

.chooser[type = "textbox"] > .value-area > input {
    width: 100%;
    height: 2em;
    border-radius: 4em;
    padding-left: 5px;
}

.chooser[type = "file"] > .value-area > div:empty::before {
  content: "Click to select a file";
}

.chooser[type = "file"] > .value-area > div {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 3em;
  max-width: 40%;
}

.chooser[type = "file"] > .value-area span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chooser[type = "file"] > .value-area i {
  position: absolute;
  font-size: 1.5em;
  left: -1.5em;
}