expandable {
  display: block;
  position: relative;
  border: 2px dotted black;
  border-radius: 12px;
  padding: 2px 5px 5px 5px;
  overflow: hidden;
  margin: 10px 0;
  background-color: antiquewhite
}

expandable[animate], expandable[down] {
  transition: height 1s;
}

expandable::after {
  position: absolute;
  top: -2px;
  right: -2px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: ivory;
  color: black;
  width: 22px;
  height: 22px;
  text-align: center;
  font-weight: 900;
  pointer-events: none;
}

expandable[down]::after {
  content: "-";
  font-size: 28px;
  line-height: 18px;
}

expandable[up]::after {
  content: "+";
  font-size: 24px;
  line-height: 20px;
}

expandable #expandable-title {
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  height: 24px;
}

expandable[down] #expandable-title {
  box-shadow: 0 2px;
  margin-bottom: 1rem;
}

expandable[up] #expandable-title {
  margin-bottom: 6px;
  box-shadow: none;
  transition-delay: 0.85s;
}