#notification {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(112, 128, 144, 0.8);
  z-index: 8;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#notification > #content {
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  transform: translateY(-50%);
  border: 10px outset slateblue;
  border-radius: 2%;
  background-color: lavender;
  z-index: 9;
}

#notification #content-area {
  padding: 5px 10px;
  font-size: 125%;
  max-height: 60vh;
  overflow: auto;
}

#notification .button-area > div {
  display: inline-table;
}