.tab-area {
  position: absolute;
  height: 30px;
  color: slategrey;
  font-weight: 700;
  white-space: nowrap;
}

.tab-area[pos = "n"] {
  top: 0;
  transform: translateY(-100%);
}

.tab-area[pos = "n"] > div {
  border-bottom: none !important;
}

.tab-area[pos = "e"] {
  right: 0;
  transform: translateX(100%);
}

.tab-area[pos = "e"] > div {
  border-left: none !important;
}

.tab-area[pos = "s"] {
  bottom: 0;
  transform: translateY(100%);
}

.tab-area[pos = "s"] > div {
  border-top: none !important;
}

.tab-area[pos = "w"] {
  left: 0;
  transform: translateX(-100%);
}

.tab-area[pos = "w"] > div {
  border-right: none !important;
}

.tab-area[pos = "e"][orientation = "top"], .tab-area[pos = "w"][orientation = "top"] {
  top: 0;
}

.tab-area[pos = "n"][orientation = "right"], .tab-area[pos = "s"][orientation = "right"] {
  right: 0;
}

.tab-area[pos = "n"][orientation = "right"] div, .tab-area[pos = "s"][orientation = "right"] div {
  margin-left: 10px;
}

.tab-area[pos = "e"][orientation = "bottom"], .tab-area[pos = "w"][orientation = "bottom"] {
  bottom: 0;
}

.tab-area[pos = "n"][orientation = "left"], .tab-area[pos = "s"][orientation = "left"] {
  left: 0;
}

.tab-area div {
  font-size: 20px;
  border: 2px outset darkgrey;
}

.tab-area[pos = "n"] > div, .tab-area[pos = "s"] > div {
  display: inline;
  padding: 5px 20px;
}

.tab-area[pos = "e"] > div, .tab-area[pos = "w"] > div {
  display: table;
  padding: 20px 5px;
}

.tab-area > div.selected {
  border-style: inset;
}