body {
  margin: 0;
  background-color: cornsilk;
}

.uploader {
  border: 2px dashed black;
  border-radius: 1rem;
  display: inline-block;
  background-color: aliceblue;
  cursor: pointer;
  width: calc(100vw - 235px); /* 200px thumbnail width + 20px margin + 15px scrollbar */
  min-width: 980px;
  position: relative;
  top: 40px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uploader:empty::after {
  content: "Click here to select an image";
  display: block;
  text-align: center;
  font-size: 30px;
  color: slategrey;
  font-weight: 600;
  line-height: 50px;
}

.uploader:not(:empty):not(.loading) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.uploader.loading > *:not(.tab-area):not(.selector), .uploader > .selector > div.loading > * {
  display: none !important;
}

.uploader > .tab-area {
  right: -2px !important;
}

.uploader > img, .uploader > canvas {
  position: relative;
  z-index: 1;
  display: inline-block;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.uploader > img {
  cursor: pointer;
  max-width: 100%;
  max-height: calc(100vh - 90px);
}

.uploader > canvas {
  z-index: 2;
  position: absolute;
  transform: translateX(-100%);
  cursor: pointer;
}

.uploader > .censor-delete-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px double white;
  border-radius: 50%;
  background-color: black;
  z-index: 3;
}

.uploader > .censor-delete-button::after {
  content: "x";
  color: white;
}

.uploader > .selector {
  width: 200px;
  position: absolute;
  top: -38px;
  right: -200px;
  margin-right: -13px;
  font-size: 22px;
  max-height: calc(100vh - 20px);
  overflow-y: auto;
}

.uploader > .selector > div {
  width: calc(100% - 8px);
  margin: 4px 0;
  position: relative;
}

.uploader > .selector > div > .properties-button {
  display: none;
}

.uploader > .selector > div.selected > .properties-button {
  display: block;
  color: ghostwhite;
  background-color: cornflowerblue;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 1rem;
  padding: 5px 10px;
  letter-spacing: 0.5px;
}

.uploader > .selector > div > img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

.uploader[tab = "change-image"]::after, .uploader[tab = "crop"]::after, .uploader[tab = "censor"]::after, .uploader[tab = "post"]::after {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: darkslategrey;
  white-space: nowrap;
}

.uploader[tab = "change-image"]::after {
  content: "Click image to change";
}

.uploader[tab = "crop"]::after {
  content: attr(crop);
}

.uploader[tab = "censor"]::after {
  content: "Draw censor boxes over NSFW portions of your image";
}

.uploader[tab = "post"]::after {
  content: "Do not navigate away from page while upload is in progress";
}

.uploader.loading::before, .uploader.loading::after, .uploader > .selector > div.loading::before {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  color: slategrey;
  font-weight: 600;
  line-height: 50px;
}

.uploader.loading::after {
  content: attr(loading);
  margin-left: 1rem;
}

.uploader.loading::before, .uploader > .selector > div.loading::before {
  content: "Loading...";
}

.uploader > #dialogue-box #log {
  text-align: center;
}

.uploader > #dialogue-box #log > span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.uploader > #dialogue-box #log > span.error {
  color: indianred;
}

.uploader > #dialogue-box #amount {
  float: left;
}

.uploader > #dialogue-box #percent {
  float: right;
}

.uploader > #dialogue-box progress {
  width: 100%;
}

/* animations */

@keyframes indicate {
  0% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}

.indicate > * {
  animation: indicate 2s ease-in-out infinite;
}

.grabbable {
  cursor: grab;
}

.grabbing {
  cursor: grabbing !important;
}